[user]
	name = Ha Dinh
	email = nhathadt11@gmail.com
[core]
	editor = 'vim'
[merge]
	tool = kdiff3
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process